.formAbout {
  border: 1px solid black;
  width: 45%;
  padding: 3%;
  /* position: absolute; */
  /* z-index: 5; */

  /* background-color: aqua; */
  background-image: -webkit-linear-gradient(
    bottom,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5)
  );
  background-image: (
    to top,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );

  /* width: 100%;
  height: 120%;
  top: 0; */
}
.formAboutContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputForm {
  width: 85%;
  padding: 4px;
  margin-bottom: 4%;
}
.labelForm {
  margin-bottom: 2%;
  margin-top: 2%;
  color: #695aa6;
  font-weight: bold;
}
.btnSubmit {
  margin-top: 2%;
  width: 85%;
  padding: 4px;
  border: 1px solid #695aa6;
  background-color: white;
  color: #695aa6;
  font-weight: bold;
}

.btnSubmit:hover {
  background-color: #695aa6;
  color: white;
}
.editAbout {
  color: #695aa6;
  font-weight: bold;
}
