.bodyPortfolio {
  width: 100%;
}
.sidebarNotCollapsed {
  width: 14%;

  background-color: #695aa6;
  height: 100vh;
}
.sidebarCollapsed {
  width: 4%;
  background-color: #695aa6;
  height: 100vh;
}
.navPortContainer {
  background-color: #695aa6;
  padding: 10px;
}
