.outerMostContainerProject {
  display: flex;

  justify-content: space-evenly;

  align-items: center;
  height: 92vh;
}
.innerProjectContainer {
  border: 1px solid black;
  width: 38%;
  padding: 1%;
  background-image: -webkit-linear-gradient(
    bottom,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5)
  );
  background-image: (
    to top,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
}

.projectAdd {
  color: #695aa6;
  font-weight: bold;
}

.projectLabel {
  color: #695aa6;
  font-weight: 500;
  margin-bottom: 2%;
}
.projectInpText {
  width: 80%;
  margin-bottom: 5%;
  padding: 1.5%;
}
.projectSubmitBtn {
  width: 60%;
  padding: 1.2%;
  border: 2px solid #695aa6;
  color: #695aa6;
  font-weight: 500;
  background-color: #fff;
}
.projectCardOuterContainer {
  border: 1px solid #695aa6;
  width: 50%;
  padding: 1%;
  background-image: -webkit-linear-gradient(
    bottom,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5)
  );
  background-image: (
    to top,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
}
