.outerMostContainerSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
.innerSkillContainer {
  border: 1px solid black;
  width: 43%;
  padding: 2%;
  background-image: -webkit-linear-gradient(
    bottom,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5)
  );
  background-image: (
    to top,
    #fff 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
}
.formSkill {
}
.skillAdd {
  color: #695aa6;
  font-weight: bold;
}

.skillCardOuterContainer {
  border: 1px solid black;
  width: 50%;
}
